<div class="card">
  <div class="content">
    <i class="right floated huge {{icon}} {{colour}} icon"></i>
    <h3 class="ui header">{{cardTitle}}</h3>
    <div class="description">
      <div class="ui text">{{value1}}</div>
      <div class="ui text">{{value2}}</div>
    </div>
    <div class="description ui two column grid">
      <div class="column">
        <div class="ui text">
          <div class="ui text">{{value3}}</div>
          <div class="ui text">{{value4}}</div>
          <div class="ui text">{{value5}}</div>
        </div>
      </div>
      <div class="column">
        <i class="right floated big {{trend}} {{colour}} icon"></i>
      </div>
    </div>
  </div>
</div>