<table class="ui table">
    <thead>
        <tr>
            <th>Date/Time</th>
            <th>Code</th>
            <th>Temp</th>
            <th>Wind Speed</th>
            <th>Wind Direction</th>
            <th>Pressure</th>
        </tr>
    </thead>
    <tbody>
        {{#each station.readings}}
        <tr>
            <td>
                {{date}}
            </td>
            <td>
                {{code}}
            </td>
            <td>
                {{temperature}}
            </td>
            <td>
                {{windSpeed}}
            </td>
            <td>
                {{windDirection}}
            </td>
            <td>
                {{pressure}}
            </td>
            <td>
                <a href="/station/{{../station.id}}/deletereading/{{id}}" class="ui icon button">
                    <i class="red trash icon"></i>
                </a>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>
{{>add-reading}}
<a href="/station/{{station.id}}/generate" class="ui red submit button">Auto Generate Reading</a>